* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body,
.warpper {
    width: 100%;
    height: 100%;
}

input {
    padding: 5px 10px;
    outline: none;
}


/* 头部 */

header {
    width: 100%;
    height: 70px;
    background-color: #354457;
    line-height: 70px;
}

header .left {
    margin-left: 20px;
}

header .left img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

header .left span {
    color: #b3bcc5;
    font-size: 14px;
}


/* 中间 */

section {
    width: 100%;
    overflow: hidden;
    height: calc(100% - 70px);
}


/* nav */

section nav {
    float: left;
    width: 200px;
    /* height: 100%; */
    height: 10000px;
    margin-bottom: -9990px;
    background-color: #4d5e70;
}

section nav dt,
dd {
    height: 40px;
    line-height: 40px;
    color: #b3bcc5;
    font-size: 14px;
}

section nav dt {
    padding-left: 20px;
}

section nav dd {
    padding-left: 40px;
    cursor: pointer;
}

section nav dd.active {
    background-color: #ddd;
    color: #354457;
}

section nav dd:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #354457;
}


/* content */

section .content {
    overflow: hidden;
    background-color: #eee;
    min-height: 100%;
}


/* 新增学生 */

section .content #student-add {
    width: 500px;
    margin: 50px auto;
    display: none;
}


/* 表单 */

form label {
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}

form>div {
    margin-bottom: 10px;
}

form label.sex {
    width: auto;
}

form .btn {
    padding: 5px 25px;
}

form>div:last-child {
    margin-left: 115px;
    cursor: pointer;
}


/* 学生列表 */

section .content #student-list {
    display: block;
    overflow: hidden;
    height: 100%;
}

table {
    width: 100%;
}

table thead {
    background-color: #b3bcc5;
}

table tbody {
    background-color: #fff;
}

table tr {
    height: 30px;
    line-height: 30px;
    text-align: center;
}

table .btn {
    border: none;
    outline: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

table .btn.edit {
    background-color: #5cb85c;
}

table .btn.delete {
    background-color: #d9534f;
}


/* 弹框 */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
    width: 500px;
    height: 450px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -250px;
    margin-top: -225px;
}

.modal::before {
    content: "";
    position: absolute;
}

.modal-content {
    padding: 30px;
}

.modal-content form {
    width: 400px;
    margin: 40px auto 0;
}

.modal-content form div:nth-of-type(3) input {
    background-color: #eee;
    border: 2px solid #ccc;
}

.modal-content form div:last-child {
    text-align: center;
    margin: 0;
}

.pager {
    text-align: center;
}

.pager button {
    margin-top: 20px;
    padding: 5px 10px;
    cursor: pointer;
}


/* 查询学生 */

.find-student-top {
    height: 40px;
    vertical-align: middle;
    background-color: rgb(63, 54, 54);
    line-height: 40px;
}

.find-student-top div {
    float: right;
    margin-right: 70px;
}

.find-student-top select {
    padding: 5px;
    vertical-align: middle;
    margin-left: 10px;
}

.find-student-top span {
    margin-left: 40px;
    color: #fff;
    font-size: 20px;
}

.find-student-top input {
    width: 318px;
}

.find-student-top button {
    padding: 5px 30px;
    cursor: pointer;
    margin-left: 10px;
}

.find-student-top img {
    width: 30px;
    vertical-align: middle;
    margin-left: 10px;
}